<h1>albums</h1>
{{#albums}}
<li>
    <a href="#/album/{{_id}}">{{title}}</a>
</li>
{{/albums}}

<button class="btn btn-default" id="addAlbum" value="Add Category" data-toggle="modal" data-target="#myModal">Add Album</button>

<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Add new Album</h4>
            </div>
            <div class="modal-body">
                <label for="albumTitle">Title :</label>
                <input type="text" id="albumTitle">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-default" data-dismiss="modal" id="addNewAlbum">Add</button>
            </div>

        </div>

    </div>
</div>