<div class="form-horizontal">
    <div class="form-group">
        <label for="username" class="col-md-2 control-label">Username:</label>

        <div class="col-md-5">
            <input type="text" class="form-control" id="username" />
        </div>
    </div>

    <div class="form-group">
        <label for="password" class="col-md-2 control-label">Password:</label>

        <div class="col-md-5">
            <input type="password" class="form-control" id="password" />
        </div>
    </div>

    <div class="col-md-offset-2">
        <button class="btn btn-default" id="loginButton">Login</button>

        <a href="#/" class="btn btn-default">
            Cancel
        </a>
    </div>
</div>

<!--<div class="form">
    <label for="username">Username:</label>
    <input type="text" id="username"/>
    <label for="password">Password:</label>
    <input type="password" id="password"/>
    <a href="#/">
        <button id="loginButton">Login</button>
    </a>
    <a href="#/">
        <button>Cancel</button>
    </a>
</div>-->
