<ul style="display: flex; list-style: none">
    {{#photos}}
    <li>
        <img data-id="{{_id}}" src='{{data}}' data-toggle="modal" data-target="#pictureView"
             class="img-responsive"/>
        <p>{{title}}</p>

    </li>
    {{/photos}}
    <div>
        <button class="btn btn-default" id="add-picture-btn" value="Add picture" data-toggle="modal"
                data-target="#myModal">
            Add Picture
        </button>
    </div>
</ul>

<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close clear-on-close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Add new photo</h4>
            </div>
            <div class="modal-body">
                <div id="imagePreview"></div>
                <p class="picture-name"></p>
                <input type="file" id="picture"/>
                <p>Size limit: 2048KB</p>
                <label for="pictureTitle">Title :</label>
                <input type="text" id="pictureTitle">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default clear-on-close" data-dismiss="modal">Close</button>
                <button type="button" id="upload-button" class="btn btn-md btn-info">Upload</button>
            </div>
        </div>
    </div>
</div>


<!--This is image click view-->
<div class="modal fade" id="pictureView" role="dialog">
    <div class="modal-dialog">

        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close dismiss" data-dismiss="modal">&times;</button>
                <!--<h4 class="modal-title">{{title}}</h4>-->
            </div>
            <div class="modal-body" id="picture-body">
                <div id="#imageView"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default dismiss" data-dismiss="modal">Close</button>
                <button type="button" id="like" class="btn btn-md btn-info">Like!</button>
            </div>
        </div>
    </div>
</div>